@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital@1&family=Roboto+Slab:wght@700&display=swap');



body {
	margin: 50px;
	color: #666;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 16px;
}

h1, h2 {
	font-family: Cuprum serif;
}

/*Usa font squirrel para convertir tus tffs */









