# La presentación (PPTX) solo debe estar disponibles para el instructor
Control*.pptx

# Conforme se avance en las lecciones, se debe ir comentando cada línea para que
# este disponible en el repositorio y los asistentes puedan accederlo
Lección*01*.*
Lección*02*.*
Lección*03*.*
Lección*04*.*
Lección*05*.*
Lección*06*.*
Lección*07*.*
Práctica*07*.*
Lección*08*.*
Lección*09*.*
Lección*10*.*
Lección*11*.*
Práctica*11*.*
Lección*12*.*
Lección*13*.*