<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>300801911333-1gs60fk58fokbmuejt870vb4pkp7e7ps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300801911333-1gs60fk58fokbmuejt870vb4pkp7e7ps</string>
	<key>API_KEY</key>
	<string>AIzaSyDIvXKtfhQV8VHzGX8rlWhnOGa_Gbaoi-U</string>
	<key>GCM_SENDER_ID</key>
	<string>300801911333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.axity.prueba</string>
	<key>PROJECT_ID</key>
	<string>rh-notification</string>
	<key>STORAGE_BUCKET</key>
	<string>rh-notification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300801911333:ios:d4b99fd618b71655</string>
	<key>DATABASE_URL</key>
	<string>https://rh-notification.firebaseio.com</string>
</dict>
</plist>