.footer h3 {
  font-style: italic;
  border: 5px solid #37c532; }

/* These variables are created in global scope*/
.nav {
  background-color: #004080;
  /*You can use special functions like darken, lighten, transparentize, mix etc*/ }
  .nav ul li {
    list-style: none; }
  .nav a {
    text-decoration: none;
    font-size: 20px;
    color: gray;
    /* Use & caracter to indicate a parent element (in this case 'a')*/ }
    .nav a:hover {
      color: royalblue; }

h1, .footer h3 {
  color: orange;
  font-size: 40px;
  background-color: gray;
  text-align: center; }

/* With local, it will replace the value of the global variable*/
h1:hover, .footer h3:hover {
  background-color: green; }

/* You cannot extend of multiple selectors */
